@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BebasNeueRegular.woff");
  font-display: swap;
}
@font-face {
  font-family: "GP";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GothamPro.woff");
  font-display: swap;
}
@font-face {
  font-family: "GP";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/GothamPro-Medium.woff");
  font-display: swap;
}
@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BebasNeueBold.woff");
  font-display: swap;
}
@font-face {
  font-family: "GP";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GothamPro-Light.woff");
  font-display: swap;
}