:root  {
  // --color-accent: #D94136;
  // --color-sec-accent: #6E7E86;
  // --color-black: #000000;
  // --color-white: #fff;
  --color-text: #192D18;
  --color-accent: #EF4500;
  --color-primary: #006D33;
  --color-hunter: #152714;
  --color-accently: #EB4701;
}