<section class="section advantages" id="advantages">
  <div class="advantages__container">
    <span class="section__subtitle">Удобное приложения для заказа</span>
    <h2 class="section__title">Ваши отходы — наша забота!</h2>
    <p class="section__descr advantages__descr">Для большего удобства работы с&nbsp;нами, мы&nbsp;разработали мобильное приложение. Всего 3&nbsp;шага до&nbsp;чистоты:</p>

    <ul class="advantages__list swiper">
      <div class="swiper-wrapper advantages__wrapper">
        <li class="swiper-slide advantages__item advantages__item-app" id="advantages__item-app">
          <div class="advantages__number">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z"
              fill="black" />
            <path d="M19.4071 26V16.118L17.2111 16.658L16.6351 14.39L20.2531 13.31H22.1431V26H19.4071Z" fill="white" />
            </svg>
          </div>
          <img class="advantages__vector" src="/public/img/advantages/vector.png" alt="">
          <img class="advantages__exclude" src="/public/img/advantages/exclude.svg" alt="">
          <h3 class="advantages__title">Скачайте приложение</h3>
          <p class="advantages__info">Установите приложение на&nbsp;ваш смартфон и&nbsp;пройдите регистрацию</p>
          <ul class="app__list">
            <li class="app__item">
              <a target="_blank" href="https://apps.apple.com/ru/app/%D0%B2%D1%82%D0%BE%D1%80%D1%8D%D0%BA%D0%BE%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81/id1658263610" class="app__link" href="">Скачать для iPhone</a>
            </li>    
            <li class="app__item">
              <a target="_blank" href="https://play.google.com/store/apps/details?id=com.trashRsoft" class="app__link" href="">Скачать для Android</a>
            </li>    
            <li class="app__item">
              <a target="_blank" href="/media/app/vtorekoresurs_pB9SzYo.apk" class="app__link" href="">Скачать APK файл</a>
            </li>    
          </ul>
        </li>
        <li class="swiper-slide advantages__item advantages__item-photo" id="advantages__item-photo">
          <div class="advantages__number">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path
                d="M40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z"
                fill="black" />
              <path
                d="M15.2746 26V23.804L19.4686 20.366C21.0346 19.07 21.6466 18.386 21.6466 17.342C21.6466 16.28 20.9446 15.704 19.9546 15.704C18.9826 15.704 18.3166 16.244 17.3806 17.396L15.4366 15.83C16.6786 14.138 17.8846 13.22 20.1346 13.22C22.7446 13.22 24.4726 14.75 24.4726 17.144C24.4726 19.25 23.3926 20.294 21.1606 22.022L19.1086 23.606H24.5986V26H15.2746Z"
                fill="white" />
            </svg>
          </div>
          <img class="advantages__vector" src="/public/img/advantages/vector.png" alt="">
          <img class="advantages__exclude" src="/public/img/advantages/exclude.svg" alt="">
          <h3 class="advantages__title">Сфотографируйте объект и&nbsp;укажите дату и&nbsp;время вывоза</h3>
          <p class="advantages__info">Диспетчер проверит заявку и&nbsp;свяжется для уточнения деталей</p>
          <div class="gsap-wrap">
            <img class="gsap-photo" src="/public/img/photo-phone.png" width="340" alt="">
          </div>
        </li>
        <li class="swiper-slide advantages__item advantages__item-bg" id="advantages__item-bg">
          <div class="advantages__number">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path
                d="M40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z"
                fill="black" />
              <path
                d="M20.0082 26.216C17.7402 26.216 16.1742 25.316 15.0942 24.038L17.0022 22.22C17.8662 23.192 18.7662 23.732 20.0442 23.732C21.0882 23.732 21.8262 23.138 21.8262 22.166C21.8262 21.14 20.9082 20.564 19.3602 20.564H18.2082L17.7762 18.8L20.7822 15.776H15.8322V13.4H24.3462V15.488L21.1602 18.53C22.8702 18.818 24.5442 19.718 24.5442 22.094C24.5442 24.47 22.8162 26.216 20.0082 26.216Z"
                fill="white" />
            </svg>
          </div>
          <img class="advantages-bg" src="/public/img/advantages/bg.jpeg" width="560" alt="">
          <img class="advantages__vector" src="/public/img/advantages/vector-2.png" alt="">
          <img class="advantages__exclude" src="/public/img/advantages/exclude.svg" alt="">
          <h3 class="advantages__title">Отслеживайте состояние заказа в&nbsp;приложении</h3>
          <p class="advantages__info">На&nbsp;каждом этапе выполнения заказа наш водитель делает фотоотчет</p>
        </li>
      </div>
    </ul>
    <ul class="advantages__links ">
      <li class="advantages__meta">
        <a target="_blank" href="https://apps.apple.com/ru/app/%D0%B2%D1%82%D0%BE%D1%80%D1%8D%D0%BA%D0%BE%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81/id1658263610" class="advantages__link">
          <img src="/public/img/appstore.jpg" width="146" alt="">
        </a>
      </li>
      <li class="advantages__meta">
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.trashRsoft" class="advantages__link">
          <img src="/public/img/google.jpg" width="146" alt="">
        </a>
      </li>
      <li class="advantages__meta">
        <a target="_blank" href="/media/app/vtorekoresurs_pB9SzYo.apk" class="advantages__link">
          <img src="/public/img/content.jpg" width="146" alt="">
        </a>
      </li>
    </ul>
  </div>
</section>