<section class="hero section" id="hero" data-section="hero" >
<div class="container-sm">
    <div class="hero__swiper swiper swiper-hero">
      <img class="hero__exclude-1" src="/public/img/hero/exclude-1.svg" alt="">
      <img class="hero__exclude-2" src="/public/img/hero/exclude-2.svg" alt="">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="stages__img">
            <source srcset="/public/img/hero/hero01-mini.jpeg" media="(max-width: 600px)">
            <img src="/public/img/hero/hero-1.jpeg" alt="">
          </picture>
          <div class="swiper-hero__container">
            <div class="hero__box">
              <h2 class="swiper-hero__title">ЧИСТОЕ БУДУЩЕЕ — <span class="accent">В ЧИСТОМ НАСТОЯЩЕМ</span></h2>
              <a href="#services" class="btn btn-reset btn-primary">Наши услуги</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="/public/img/hero/hero-2.jpeg" alt="">
          <div class="swiper-hero__container">
            <div class="hero__box">
              <h2 class="swiper-hero__title">Собственный парк <span class="accent">Техники</span></h2>
              <a href="#products" class="btn btn-reset btn-primary">Вся техника</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="/public/img/hero/hero-3.jpeg" alt="">
          <div class="swiper-hero__container">
            <div class="hero__box">
              <h2 class="swiper-hero__title">Умное приложение <span class="accent">для заказа</span></h2>
              <a href="#advantages" class="btn btn-reset btn-primary">Скачать</a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__navigation swiper-button-next">
        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.2998 13.2998L8.49981 6.99981L1.29981 0.699804" stroke="#006D33" stroke-linejoin="bevel" />
        </svg>
      </div>
      <div class="hero__navigation swiper-button-prev">
        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.7002 0.700195L0.500196 7.0002L7.7002 13.3002" stroke="#006D33" stroke-linejoin="bevel" />
        </svg>
      </div>
      <div class="swiper-pagination hero__pagination">
      </div>
    </div>
</div>
</section>

