<div class="order-equipment">
  <div class="order-equipment__body equipmnet__body">
    <div class="order-equipment__content equipmnet__content">
      <div class="equipmnet__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
          <path d="M1.48528 0.514719L18.4558 17.4853M18.4558 0.514719L1.48528 17.4853" stroke="#75847C"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <span class="modal__heading">Заказать технику</span>
      <form class="js-form order-equipment__form">
        <div class="contacts-form__wrapper">
          <span class="order__descr">Услуга</span>
          <div class="select__wrapper">
            <select class="order-equipment__select" name="order-equipment" id="order-equipment">
              <option value="1">Самосвал</option>
              <option value="2">Ломовоз</option>
              <option value="3">Газон NEXT</option>
              <option value="4">Мультилифт</option>
              <option value="5">Бункеровоз (рогатка)</option>
              <option selected value="6">Бункер</option>
            </select>
          </div>
          <div class="contacts__input wrapper__name">
            <input name="user_name" class="contacts__name" type="text" id="contacts-name" data-type="text"
              placeholder=" ">
            <label class="contacts-form__label" for="">Ваше имя</label>
            <div class="validate__form-error validate__form-error--name js-error js-error-name">
              <span>Перепроверьте корректность имени</span>
            </div>
          </div>
          <div class="contacts__input wrapper__phone">

            <input data-mask="phone" name="user_phone" class="contacts__tel" data-type="phone" type="text"
              id="contacts-phone" inputmode="text" placeholder=" ">
            <label class="contacts-form__label" for="">Телефон</label>
            <div class="validate__form-error validate__form-error--phone js-error js-error-phone">
              <span>Перепроверьте корректность номера</span>
            </div>
          </div>
        </div>
        <div class="contacts__btns">
          <button class="js-form-submit btn btn-reset btn-primary" type="submit">Заказать</button>
          <p>Нажимая кнопку, вы&nbsp;даете согласие на&nbsp;обработку своих <a href="#">персональных данных</a></p>
        </div>
      </form>
    </div>
  </div>
</div>