<div class="preloader">
<div class="preloader-wrapper">
 <svg class="preloader-logo" xmlns="http://www.w3.org/2000/svg" width="158" height="148" viewBox="0 0 158 148" fill="none">
  <path class="path"
   d="M114.5 71.5C114.5 71.5 114.667 89 114.5 97L76.5 119L58.5 107.5L95.5 85.5V71.5V66.5H86.5L114.5 50.5L142.5 66.5H135.5V71.5V109L76.5 143L16 103.5"
   stroke="#EF4500" stroke-width="8" />
  <path class="path-2"
   d="M44 76.5C44 76.5 43.8333 59 44 51L82 29L100 40.5L63 62.5V76.5V81.5H72L44 97.5L16 81.5H23V76.5V39L82 5L142.5 44.5"
   stroke="#006D33" stroke-width="8" />
 </svg>
  <div class="preloader-slogan">
  <svg xmlns="http://www.w3.org/2000/svg" width="93" height="43" viewBox="0 0 93 43" fill="none">
    <path
    d="M10.6556 0.974765C14.219 0.974765 16.7881 1.75748 18.3626 3.3233C19.9787 4.88892 20.7867 7.25698 20.7867 10.4275V11.8953C20.7867 14.0088 20.4346 15.7507 19.7301 17.1207C19.0257 18.4906 17.907 19.5083 16.3738 20.1737C18.2384 20.8391 19.5437 21.9351 20.2895 23.4615C21.0768 24.9491 21.4704 26.7887 21.4704 28.9805V32.3273C21.4704 35.4977 20.6003 37.9244 18.86 39.6075C17.1197 41.2516 14.5298 42.0735 11.0905 42.0735H0.337891V0.974765H10.6556ZM7.17481 23.579V36.2022H11.0905C12.2508 36.2022 13.1209 35.9086 13.7011 35.3215C14.3227 34.7344 14.6335 33.6776 14.6335 32.151V28.5697C14.6335 26.6517 14.2812 25.3404 13.5768 24.6358C12.9139 
    23.9313 11.795 23.579 10.2204 23.579H7.17481ZM7.17481 6.84591V17.7079H9.84742C11.1321 17.7079 12.1266 17.3946 12.831 16.7684C13.5768 16.1421 13.9497 15.007 13.9497 13.3631V11.0733C13.9497 9.5858 13.6596 8.50952 13.0796 7.84411C12.5409 7.17871 11.6708 6.84591 10.469 6.84591H7.17481ZM23.6629 0.974765H44.7954V6.84591H37.6477V42.0735H30.8106V6.84591H23.6629V0.974765ZM54.1406 32.6208C54.1406 34.1082 54.4514 35.165 55.073 35.7913C55.7358 36.3785 56.606 36.6718 57.6834 36.6718C58.7608 36.6718 59.6102 36.3785 60.2318 35.7913C60.8947 35.165 61.2261 34.1082 61.2261 32.6208V10.4275C61.2261 8.94011 60.8947 7.90286 60.2318 7.31573C59.6102 6.68936 58.7608 6.37628 57.6834 6.37628C56.606 6.37628 55.7358 6.68936 55.073 7.31573C54.4514 7.90286 54.1406 8.94011 54.1406 10.4275V32.6208ZM47.3035 10.8383C47.3035 7.51131 48.1945 4.9672 49.9761 3.2058C51.7579 1.40535 54.327 0.504944 57.6834 0.504944C61.0397 0.504944 63.6088 1.40535 65.3906 3.2058C67.1722 4.9672 68.0632 7.51131 68.0632 10.8383V32.2098C68.0632 35.5368 67.1722 38.1006 65.3906 39.9011C63.6088 41.6625 61.0397 42.5432 57.6834 42.5432C54.327 
    42.5432 51.7579 41.6625 49.9761 39.9011C48.1945 38.1006 47.3035 35.5368 47.3035 32.2098V10.8383ZM82.4545 0.974765C85.8945 0.974765 88.4431 1.83575 90.1003 3.55811C91.8001 5.28028 92.649 7.80488 92.649 11.1319V16.4749C92.649 19.8019 91.8001 22.3265 90.1003 24.0487C88.4431 25.771 85.8945 26.632 82.4545 26.632H79.2231V42.0735H72.3864V0.974765H82.4545ZM79.2231 6.84591V20.7609H82.4545C83.5322 20.7609 84.3609 20.4868 84.9423 19.9389C85.5217 19.3908 85.8114 18.3733 85.8114 16.8857V10.721C85.8114 9.23367 85.5217 8.21595 84.9423 7.66786C84.3609 7.11996 83.5322 6.84591 82.4545 6.84591H79.2231Z"
    fill="#006D33" />
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="71" height="43" viewBox="0 0 71 43" fill="none">
    <path
    d="M13.6804 10.4275C13.6804 8.94011 13.3481 7.90286 12.6856 7.31573C12.0637 6.68937 11.2148 6.37628 10.137 6.37628C9.05923 6.37628 8.1901 6.68937
      7.52559 7.31573C6.90363 7.90286 6.59366 8.94011 6.59366 10.4275V14.831H0.128906V10.8383C0.128906 7.51131 0.979805 4.9672 2.67754 3.2058C4.41781
      1.40535 6.96643 0.504944 10.3234 0.504944C13.6804 0.504944 16.2067 1.40535 17.9065 3.2058C19.6468 4.9672 20.5159 7.51131 20.5159
      10.8383V32.2098C20.5159 35.5368 19.6468 38.1006 17.9065 39.9011C16.2067 41.6625 13.6804 42.5432 10.3234 42.5432C6.96643 42.5432 4.41781
      41.6625 2.67754 39.9011C0.979805 38.1006 0.128906 35.5368 0.128906 32.2098V26.7495H6.59366V32.6208C6.59366 34.1082 6.90363 35.1454
      7.52559 35.7326C8.1901 36.3197 9.05923 36.6133 10.137 36.6133C11.2148 36.6133 12.0637 36.3197 12.6856 35.7326C13.3481 35.1454
      13.6804 34.1082 13.6804 32.6208V24.1662H4.29423V18.2948H13.6804V10.4275ZM33.7979 25.6927L31.6849
          29.4504V42.0735H24.8494V0.974765H31.6849V18.882L40.759 0.974765H47.473L37.9632 19.293L47.473 42.0735H40.449L33.7979 25.6927ZM56.8004
            32.6208C56.8004 34.1082 57.1103 35.165 57.7323 35.7913C58.3948 36.3785 59.2659 36.6718 60.3417 36.6718C61.4195 36.6718 62.2704 36.3785
            62.8903 35.7913C63.5548 35.165 63.885 34.1082 63.885 32.6208V10.4275C63.885 8.94011 63.5548 7.90286 62.8903 7.31573C62.2704 6.68937
              61.4195 6.37628 60.3417 6.37628C59.2659 6.37628 58.3948 6.68937 57.7323 7.31573C57.1103 7.90286 56.8004 8.94011 56.8004
              10.4275V32.6208ZM49.9628 10.8383C49.9628 7.51131 50.8542 4.9672 52.635 3.2058C54.4179 1.40535 56.9867 0.504944 60.3417
                0.504944C63.6986 0.504944 66.2675 1.40535 68.0504 3.2058C69.8312 4.9672 70.7226 7.51131 70.7226 10.8383V32.2098C70.7226 35.5368 69.8312 38.1006 68.0504 39.9011C66.2675 41.6625 63.6986 42.5432 60.3417 42.5432C56.9867 42.5432 54.4179 41.6625 52.635 39.9011C50.8542 38.1006 49.9628 35.5368 49.9628 32.2098V10.8383Z"
    fill="#EF4500" />
  </svg>
  <svg width="142" height="43" viewBox="0 0 142 43" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M17.7675 3.55811C16.1083 1.83575 13.5617 0.974765 10.1216 0.974765H0.0527344V42.0735H6.89026V26.632H10.1216C13.5617 26.632 16.1083 25.771 17.7675 24.0487C19.4652 22.3265 20.3141 19.8019 20.3141 16.4749V11.1319C20.3141 7.80488 19.4652 5.28028 17.7675 3.55811Z"
    fill="#006D33" />
  <path
    d="M39.6435 18.2948H30.2574V6.84591H42.0686V0.974765H23.4219V42.0735H42.0686V36.2022H30.2574V24.1662H39.6435V18.2948Z"
    fill="#006D33" />
  <path
    d="M65.8875 32.2098V26.7495H59.4227V32.6208C59.4227 34.1082 59.0925 35.1454 58.428 35.7326C57.8081 36.3197 56.9571 36.6133 55.8814 36.6133C54.8036 36.6133 53.9324 36.3197 53.2699 35.7326C52.648 35.1454 52.338 34.1082 52.338 32.6208V10.4275C52.338 8.94011 52.648 7.90286 53.2699 7.31573C53.9324 6.68936 54.8036 6.37628 55.8814 6.37628C56.9571 6.37628 57.8081 6.68936 58.428 7.31573C59.0925 7.90286 59.4227 8.94011 59.4227 10.4275V14.831H65.8875V10.8383C65.8875 7.51131 65.0163 4.9672 63.2761 3.2058C61.5783 1.40535 59.0499 0.504944 55.695 0.504944C52.338 0.504944 49.7894 1.40535 48.0491 3.2058C46.3494 4.9672 45.5005 7.51131 45.5005 10.8383V32.2098C45.5005 35.5368 46.3494 38.1006 48.0491 39.9011C49.7894 41.6625 52.338 42.5432 55.695 42.5432C59.0499 42.5432 61.5783 41.6625 63.2761 39.9011C65.0163 38.1006 65.8875 35.5368 65.8875 32.2098Z"
    fill="#006D33" />
  <path
    d="M73.2639 36.2609C72.8506 36.2609 72.4576 36.2414 72.0848 36.2022V42.0735C72.6642 42.1518 73.2031 42.1908 73.6995 42.1908H75.379C76.6634 42.1908 77.8223 42.1518 78.8595 42.0735C79.9353 41.9953 80.9301 41.6429 81.8417 41.0166C82.7534 40.3512 83.6043 39.2749 84.3903 37.7875C85.2189 36.261 86.0273 34.0885 86.8154 31.2703L95.7639 0.974765H88.9284L82.7129 25.0469L75.1926 0.974765H68.3551L78.3004 31.8575C78.3004 32.7577 78.195 33.5015 77.9884 34.0885C77.8223 34.6756 77.5528 35.1259 77.18 35.439C76.8498 35.7521 76.4345 35.9674 75.9381 36.0849C75.4823 36.2022 74.9839 36.2609 74.445 36.2609H73.2639Z"
    fill="#006D33" />
  <path
    d="M116.582 3.55811C114.925 1.83575 112.377 0.974765 108.939 0.974765H98.8697V42.0735H105.705V26.632H108.939C112.377 26.632 114.925 25.771 116.582 24.0487C118.282 22.3265 119.131 19.8019 119.131 16.4749V11.1319C119.131 7.80488 118.282 5.28028 116.582 3.55811Z"
    fill="#006D33" />
  <path
    d="M142.002 32.2098V26.7495H135.539V32.6208C135.539 34.1082 135.207 35.1454 134.544 35.7326C133.922 36.3197 133.074 36.6133 131.996 36.6133C130.918 36.6133 130.049 36.3197 129.386 35.7326C128.764 35.1454 128.452 34.1082 128.452 32.6208V10.4275C128.452 8.94011 128.764 7.90286 129.386 7.31573C130.049 6.68936 130.918 6.37628 131.996 6.37628C133.074 6.37628 133.922 6.68936 134.544 7.31573C135.207 7.90286 135.539 8.94011 135.539 10.4275V14.831H142.002V10.8383C142.002 7.51131 141.133 4.9672 139.392 3.2058C137.693 1.40535 135.166 0.504944 131.809 0.504944C128.452 0.504944 125.904 1.40535 124.163 3.2058C122.466 4.9672 121.617 7.51131 121.617 10.8383V32.2098C121.617 35.5368 122.466 38.1006 124.163 39.9011C125.904 41.6625 128.452 42.5432 131.809 42.5432C135.166 42.5432 137.693 41.6625 139.392 39.9011C141.133 38.1006 142.002 35.5368 142.002 32.2098Z"
    fill="#006D33" />
  <path
    d="M106.248 20.5297V6.61472H109.479C110.557 6.61472 111.386 6.88876 111.965 7.43666C112.545 7.98476 112.836 9.00248 112.836 10.4898V16.6545C112.836 18.1421 112.545 19.1596 111.965 19.7077C111.386 20.2556 110.557 20.5297 109.479 20.5297H106.248Z"
    fill="#EDFAF8" />
  <path
    d="M6.88672 20.7609V6.84592H10.1181C11.1959 6.84592 12.0245 7.11996 12.6039 7.66786C13.1833 8.21596 13.4751 9.23368 13.4751 10.721V16.8857C13.4751 18.3733 13.1833 19.3908 12.6039 19.9389C12.0245 20.4868 11.1959 20.7609 10.1181 20.7609H6.88672Z"
    fill="#EDFAF8" />
  </svg>
  </div>
</div>
</div>