<section class="section products" id="products">
  <div class="products__container">
    <span class="section__subtitle">Техника</span>
    <h2 class="section__title">Собственный автопарк</h2>
    <p class="section__descr products__descr">
      Оказываем транспортные услуги с&nbsp;последующим размещением отходов на&nbsp;лицензируемом полигоне, минимальное время работы 2&nbsp;часа:
    </p>
    <ul class="products__list">
      <li class="products__item products__item-left row col-12 ">
        <div class="col-1"></div>
        <div class="col-4">
          <h3 class="products__heading">Самосвал</h3>
          <ul class="caption__list">
            <li class="caption__item">
              <span class="caption__heading">Грузоподъемность 10т</span>
            </li>
          </ul>
          <p class="products__text">Грузовой саморазгружающийся автомобиль, прицеп или полуприцеп с&nbsp;кузовом бункерного типа</p>
          <div class="block-info">
            <button data-modal-id="order-equipment-1" class="btn btn-reset btn-stroke js-equipmnets">Заказать</button>
            <span>от <span class="products__price block-info__price">10 000 руб.</span></span>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-6">
          <div class="products__image">
            <img class="products__exclude" src="/public/img/products/exclude-1.svg" alt="">
            <img class="products__img" src="/public/img/products/1.jpeg" alt="">
          </div>
        </div>
      </li>
      <li class="products__item products__item-right row col-12 ">
        <div class="col-6">
          <div class="products__image">
            <img class="products__exclude" src="/public/img/products/exclude-2.svg" alt="">
            <img class="products__img" src="/public/img/products/2.jpeg" alt="">
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <h3 class="products__heading">Ломовоз</h3>
          <ul class="caption__list">
            <li class="caption__item">
              <span class="caption__heading">Грузоподъемность 15т</span>
            </li>
            <li class="caption__item">
              <span class="caption__heading">Объем кузова 30,4 м3</span>
            </li>
          </ul>
          <p class="products__text">Грузовая машина с&nbsp;краном и&nbsp;захватом, позволяем собирать иные, строительные и&nbsp;растительные отходы
          с&nbsp;земли, бункеров</p>
          <div class="block-info">
            <button  data-modal-id="order-equipment-2" class="btn btn-reset btn-stroke js-equipmnets">Заказать</button>
            <span>от <span class="products__price block-info__price">16 000 руб.</span></span>
          </div>
        </div>
        <div class="col-1"></div>
      </li>
      <li class="products__item products__item-left row col-12 ">
        <div class="col-1"></div>
        <div class="col-4">
          <h3 class="products__heading">Газон NEXT</h3>
          <ul class="caption__list">
            <li class="caption__item">
              <span class="caption__heading">Грузоподъемность 4т</span>
            </li>
            <li class="caption__item">
              <span class="caption__heading">Объем кузова 10 м3</span>
            </li>
          </ul>
          <p class="products__text">Среднетоннажный грузовик, используется для перевозки крупногабаритных отходов, также для перевозки межсезонных отходов.
          Его не&nbsp;высокий кузов позволяет загружаться самостоятельно</p>
          <div class="block-info">
            <button data-modal-id="order-equipment-3" class="btn btn-reset btn-stroke js-equipmnets">Заказать</button>
            <span>от <span class="products__price block-info__price">7 700 руб.</span></span>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-6">
          <div class="products__image">
            <img class="products__exclude" src="/public/img/products/exclude-1.svg" alt="">
            <img class="products__img" src="/public/img/products/3.jpeg" alt="">
          </div>
        </div>
      </li>
      <li class="products__item products__item-right row col-12 ">
        <div class="col-6">
          <div class="products__image">
            <img class="products__exclude" src="/public/img/products/exclude-2.svg" alt="">
            <img class="products__img" src="/public/img/products/4.jpeg" alt="">
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <h3 class="products__heading">Мультилифт</h3>
          <ul class="caption__list">
            <li class="caption__item">
              <span class="caption__heading">Грузоподъемность 15т</span>
            </li>
            <li class="caption__item">
              <span class="caption__heading">Объем кузова 38 м3</span>
            </li>
          </ul>
          <p class="products__text">Грузовой автомобиль с&nbsp;тросовым механизмом, который способен самостоятельно осуществлять погрузку и&nbsp;разгрузку грузового контейнера</p>
          <div class="block-info">
            <button data-modal-id="order-equipment-4" class="btn btn-reset btn-stroke js-equipmnets">Заказать</button>
            <span>от <span class="products__price block-info__price">24 000 руб.</span></span>
          </div>
        </div>
        <div class="col-1"></div>
      </li>
      <li class="products__item products__item-left row col-12 ">
        <div class="col-1"></div>
        <div class="col-4">
          <h3 class="products__heading">Бункеровоз (рогатка)</h3>
          {{!-- <ul class="caption__list">
            <li class="caption__item">
              <span class="caption__heading">Грузоподъемность 10т</span>
            </li>
          </ul> --}}
          <p class="products__text">Грузовая машина с&nbsp;механизмом подъема и&nbsp;опускания бункера</p>
          <div class="block-info">
            <button data-modal-id="order-equipment-5" class="btn btn-reset btn-stroke js-equipmnets">Заказать</button>
            <span>от <span class="products__price block-info__price">5 500 руб.</span></span>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-6">
          <div class="products__image">
            <img class="products__exclude" src="/public/img/products/exclude-1.svg" alt="">
            <img class="products__img" src="/public/img/products/5.jpeg" alt="">
          </div>
        </div>
      </li>
      <li class="products__item products__item-right row col-12 ">
        <div class="col-6">
          <div class="products__image">
            <img class="products__exclude" src="/public/img/products/exclude-2.svg" alt="">
            <img class="products__img" src="/public/img/products/6.jpeg" alt="">
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <h3 class="products__heading">Бункер</h3>
          {{!-- <ul class="caption__list">
            <li class="caption__item">
              <span class="caption__heading">Грузоподъемность 15т</span>
            </li>
            <li class="caption__item">
              <span class="caption__heading">Объем кузова 30,4 м3</span>
            </li>
          </ul> --}}
          <p class="products__text">Крупногабаритный контейнер из&nbsp;металла объемом от&nbsp;7,6 м3</p>
          <div class="block-info">
            <button data-modal-id="order-equipment-6" class="btn btn-reset btn-stroke js-equipmnets">Заказать</button>
            <span>от <span class="products__price block-info__price">2 000 руб/мес</span></span>
          </div>
        </div>
        <div class="col-1"></div>
      </li>
    </ul>
  </div>
</section>