<section class="questions section" id="questions">
  <div class="questions__container">
    <h2 class="section__title questions__title">Частые вопросы</h2>
    <div class="row">
      <div class="questions__list questions-acrd col-12">
        <div class="questions__left questions__wrap col-6">
          <li class="questions__item acrd-open">
            <h3 class="questions__heading">
              Сегодня можно вывезти мусор?
              <div class="services__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                  <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"></path>
                </svg>
              </div>
            </h3>
            <div class="questions__content text-content" >
              <p class="questions__text">
                Мы&nbsp;работаем в&nbsp;г. Барнауле и&nbsp;в&nbsp;садоводствах&nbsp;г. Барнаула, также&nbsp;г. Новоалтайск, п. Санниково, с. Фирсово и&nbsp;в&nbsp;п. Лесной.
                Мы&nbsp;работаем в&nbsp;г. Барнауле и&nbsp;в&nbsp;садоводствах&nbsp;г. Барнаула, также&nbsp;г. Новоалтайск, п.
                Санниково, с. Фирсово и&nbsp;в&nbsp;п. Лесной.
                Мы&nbsp;работаем в&nbsp;г. Барнауле и&nbsp;в&nbsp;садоводствах&nbsp;г. Барнаула, также&nbsp;г. Новоалтайск, п.
                Санниково, с. Фирсово и&nbsp;в&nbsp;п. Лесной.
              </p>
            </div>
          </li>
          <li class="questions__item">
            <h3 class="questions__heading">
              Можно&nbsp;ли, выкидывать в&nbsp;контейнеры электро-бытовую технику?
              <div class="services__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                  <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"></path>
                </svg>
              </div>
            </h3>
            <div class="questions__content text-content">
              <p class="questions__text">
                Мы&nbsp;работаем в&nbsp;г. Барнауле и&nbsp;в&nbsp;садоводствах&nbsp;г. Барнаула, также&nbsp;г. Новоалтайск, п. Санниково, с. Фирсово и&nbsp;в&nbsp;п. Лесной.
              </p>
            </div>
          </li>
          <li class="questions__item">
            <h3 class="questions__heading">
              Сколько стоит вывоз мусора?
              <div class="services__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                  <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"></path>
                </svg>
              </div>
            </h3>
            <div class="questions__content text-content">
              <p class="questions__text">
                Мы&nbsp;работаем в&nbsp;г. Барнауле и&nbsp;в&nbsp;садоводствах&nbsp;г. Барнаула, также&nbsp;г. Новоалтайск, п. Санниково, с. Фирсово и&nbsp;в&nbsp;п. Лесной.
              </p>
            </div>
          </li>
        </div>
        <div class="questions__right questions__wrap col-6">
          <li class="questions__item">
            <h3 class="questions__heading">
              Что такое бункер?
              <div class="services__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                  <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"></path>
                </svg>
              </div>
            </h3>
            <div class="questions__content text-content">
              <p class="questions__text">
                Мы&nbsp;работаем в&nbsp;г. Барнауле и&nbsp;в&nbsp;садоводствах&nbsp;г. Барнаула, также&nbsp;г. Новоалтайск, п. Санниково, с. Фирсово и&nbsp;в&nbsp;п. Лесной.
              </p>
            </div>
          </li>
          <li class="questions__item">
            <h3 class="questions__heading">
              На&nbsp;какой территории работаете?
              <div class="services__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                  <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"></path>
                </svg>
              </div>
            </h3>
            <div class="questions__content text-content">
              <p class="questions__text">
                Мы&nbsp;работаем в&nbsp;г. Барнауле и&nbsp;в&nbsp;садоводствах&nbsp;г. Барнаула, также&nbsp;г. Новоалтайск, п. Санниково, с. Фирсово и&nbsp;в&nbsp;п. Лесной.
              </p>
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
</section>