<section class="section reviews" id="reviews">
  <div class="reviews__container">
    <span class="section__subtitle">Отзывы</span>
    <h2 class="section__title">честные отзывы из 2гис</h2>
    <div class="reviews__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__slide">
          <div class="reviews__inner">
            <div class="reviews__box">
              <span class="reviews__fio">Ксения Латкина</span>
              <span class="reviews__data">22 февраля 2023</span>
            </div>
            <div class="reviews__rating rating">
              <ul class="rating__list">
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews__text">
            Не&nbsp;первый год сотрудничаем с&nbsp;данной организацией. Качественное оказание услуг в&nbsp;установленные сроки.
          </p>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__inner">
            <div class="reviews__box">
              <span class="reviews__fio">Алексей Бойко</span>
              <span class="reviews__data">22 февраля 2023</span>
            </div>
            <div class="reviews__rating rating">
              <ul class="rating__list">
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews__text">
            Быстрая и&nbsp;оперативная работа, заказывал мусорный контейнер привезли быстро,забрали во&nbsp;время. Цена более чем приемлемая. Остался доволен, буду работать и&nbsp;дальше с&nbsp;Вами.
          </p>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__inner">
            <div class="reviews__box">
              <span class="reviews__fio">Акм Фасады</span>
              <span class="reviews__data">22 февраля 2023</span>
            </div>
            <div class="reviews__rating rating">
              <ul class="rating__list">
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews__text">
            Рекомендуем компанию ВторЭкоРесурс, уровень оказания услуг высокий, самое главное чувствую ответственность и&nbsp;соблюдают условия!
          </p>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="reviews__inner">
            <div class="reviews__box">
              <span class="reviews__fio">Ксения Латкина</span>
              <span class="reviews__data">22 февраля 2023</span>
            </div>
            <div class="reviews__rating rating">
              <ul class="rating__list">
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
                <li class="rating__item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                    <path d="M6 0L8.07371 3.14579L11.7063 4.1459L9.35533 7.09021L9.52671 10.8541L6 9.528L2.47329 10.8541L2.64467 7.09021L0.293661 4.1459L3.92629 3.14579L6 0Z" fill="#D9D9D9"/>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews__text">
            Не&nbsp;первый год сотрудничаем с&nbsp;данной организацией. Качественное оказание услуг в&nbsp;установленные сроки.
          </p>
        </div>
      </div>
       <div class="reviews__navigation swiper-button-next">
      <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.2998 13.2998L8.49981 6.99981L1.29981 0.699804" stroke="#006D33" stroke-linejoin="bevel"/>
      </svg>
      </div>
      <div class="reviews__navigation swiper-button-prev">
        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.7002 0.700195L0.500196 7.0002L7.7002 13.3002" stroke="#006D33" stroke-linejoin="bevel"/>
        </svg>
      </div>
      <div class="reviews__2gis">
        <span>Больше отзывов:</span>
        <a target="_blank" href="https://2gis.ru/barnaul/firm/70000001057693696/tab/reviews">
          <img src="/public/img/reviews/2gis-logo.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>