<section class="services section" id="services">
  <div class="services__container">
    <span class="section__subtitle">Вывоз отходов</span>
    <h2 class="section__title">индивидуальные решения для каждого</h2>
    <div class="row col-12">
      <ul class="services__list col-5 services-acrd">
        <li class="services__item services-acrd__open ">
          <h3 class="services__heading">
            Вывоз строительных отходов 
            <div class="services__arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"/>
              </svg>
            </div>
          </h3>
          <div class="services__content text-content">
            <p class="services__text">
              Вывозим все виды отходов: остатки от&nbsp;сгорания угля, пластик, опилки, агрокультурные остатки и&nbsp;многое другое
            </p>
            <div class="block-info">
              <button data-modal-id="order-service-1" class="btn js-services btn-reset btn-accent">Заказать</button>
              <span>от <span class="services__price block-info__price">2 400 руб.</span></span>
            </div>
          </div>
        </li>
        <li class="services__item services-acrd__open">
          <h3 class="services__heading">
            Вывоз промышленных и&nbsp;производственных отходов 
            <div class="services__arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"/>
              </svg>
            </div>
          </h3>
          <div class="services__content text-content">
            <p class="services__text">
              Вывозим все виды отходов: остатки от&nbsp;сгорания угля, пластик, опилки, агрокультурные остатки и&nbsp;многое другое
            </p>
            <div class="block-info">
              <button data-modal-id="order-service-2" class="js-services btn btn-reset btn-accent">Заказать</button >
              <span>от <span class="services__price block-info__price">2 400 руб.</span></span>
            </div>
          </div>
        </li>
        <li class="services__item services-acrd__open">
          <h3 class="services__heading">
            Вывоз отходов лесопереработки 
            <div class="services__arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"/>
              </svg>
            </div>
          </h3>
          <div class="services__content text-content">
            <p class="services__text">
              Вывозим все виды отходов: остатки от&nbsp;сгорания угля, пластик, опилки, агрокультурные остатки и&nbsp;многое другое
            </p>
            <div class="block-info">
              <button data-modal-id="order-service-3" class="js-services btn btn-reset btn-accent">Заказать</button >
              <span>от <span class="services__price block-info__price">2 400 руб.</span></span>
            </div>
          </div>
        </li>
        <li class="services__item services-acrd__open">
          <h3 class="services__heading">
            Вывоз грунта, глины 
            <div class="services__arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"/>
              </svg>
            </div>
          </h3>
          <div class="services__content text-content">
            <p class="services__text">
              Вывозим все виды отходов: остатки от&nbsp;сгорания угля, пластик, опилки, агрокультурные остатки и&nbsp;многое другое
            </p>
            <div class="block-info">
              <button data-modal-id="order-service-4" class="js-services btn btn-reset btn-accent">Заказать</button >
              <span>от <span class="services__price block-info__price">2 400 руб.</span></span>
            </div>
          </div>
        </li>
        <li class="services__item services-acrd__open">
          <h3 class="services__heading">
            Вывоз отходов после сезонной уборки участков домов, дач, газонов 
            <div class="services__arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"/>
              </svg>
            </div>
          </h3>
          <div class="services__content text-content">
            <p class="services__text">
              Вывозим все виды отходов: остатки от&nbsp;сгорания угля, пластик, опилки, агрокультурные остатки и&nbsp;многое другое
            </p>
            <div class="block-info">
              <button data-modal-id="order-service-5" class="js-services btn btn-reset btn-accent">Заказать</button >
              <span>от <span class="services__price block-info__price">2 400 руб.</span></span>
            </div>
          </div>
        </li>
        <li class="services__item services-acrd__open">
          <h3 class="services__heading">
            Отходы не относящиеся к ТКО 
            <div class="services__arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
                <path d="M0.400391 0.899902L6.70039 8.0999L13.0004 0.899903" stroke="#192D18" stroke-linejoin="bevel"/>
              </svg>
            </div>
          </h3>
          <div class="services__content text-content">
            <p class="services__text">
              Вывозим все виды отходов: остатки от&nbsp;сгорания угля, пластик, опилки, агрокультурные остатки и&nbsp;многое другое
            </p>
            <div class="block-info">
              <button data-modal-id="order-service-6" class="js-services btn btn-reset btn-accent">Заказать</button >
              <span>от <span class="services__price block-info__price">2 400 руб.</span></span>
            </div>
          </div>
        </li>
      </ul>
      {{!-- <div class="col-1"></div> --}}
      <div class="services__images col-6">
        <div class="services__image">
          <img class="services__exclude" src="/public/img/services/exclude.svg" alt="">
          <img class="services__img" src="/public/img/services/services-1.jpeg" alt="">
        </div>
        <div class="services__image">
          <img class="services__exclude" src="/public/img/services/exclude.svg" alt="">
          <img class="services__img" src="/public/img/services/services-2.jpeg" alt="">
        </div>
        <div class="services__image">
          <img class="services__exclude" src="/public/img/services/exclude.svg" alt="">
          <img class="services__img" src="/public/img/services/services-3.jpeg" alt="">
        </div>
        <div class="services__image">
          <img class="services__exclude" src="/public/img/services/exclude.svg" alt="">
          <img class="services__img" src="/public/img/services/services-4.jpeg" alt="">
        </div>
        <div class="services__image">
          <img class="services__exclude" src="/public/img/services/exclude.svg" alt="">
          <img class="services__img" src="/public/img/services/services-5.jpeg" alt="">
        </div>
        <div class="services__image">
          <img class="services__exclude" src="/public/img/services/exclude.svg" alt="">
          <img class="services__img" src="/public/img/services/services-6.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>