<div class="suces" id="suces">
 <div class="suces__body">
  <div class="suces__content">
   <div class="suces__close">
    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
     <path d="M1.48528 0.514719L18.4558 17.4853M18.4558 0.514719L1.48528 17.4853" stroke="#75847C" stroke-linecap="round"
      stroke-linejoin="round" />
    </svg>
   </div>
   <span class="suces__heading">спасибо</span>
   <p class="suces__text">Ваша заявка успешно отправлена</p>
   <p class="suces__text">Наш оператор с&nbsp;вами свяжется
   в&nbsp;ближайшее время</p>
  </div>
 </div>
</div>